@using Blazored.LocalStorage;
@using Microsoft.AspNetCore.Components.Web.Extensions;
@using P06Library.Shared.Auth;
@using P06Library.Shared.Services.AuthService;
@using Microsoft.AspNetCore.WebUtilities;
@using P11BlazorWebAssembly.Client.Pages;

@inject ITranslationsManager TranslationsManager
@inject IAuthService AuthService
@inject ILibraryService LibraryService
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="col-xl-6 col-md-8 col-12">
    <button class="btn" style="margin-top: 1.5rem; background-color: rgb(8, 102, 255); color: white" @onclick="LoginWithFacebook">@TranslationsManager.Get(MainLayout.Language, "LoginWithFacebook")</button>
</div>

@code {


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!>>>>> " + NavigationManager.Uri.ToString());

        var path = NavigationManager.Uri.ToString();

        if (!NavigationManager.Uri.ToString().Contains("?"))
        {
            SetFinishedLoggingIn();
            return;
        }

        string token = await AuthService.ProcessUri(NavigationManager.Uri.ToString(), "https://localhost:7070/login");

        if (token != "")
        {
            await LocalStorageService.SetItemAsync("authToken", token);

            await MainLayout.SetupAuthState(AuthenticationStateProvider, LibraryService, AuthService, LocalStorageService);

            SetFinishedLoggingIn();
            NavigationManager.NavigateTo("/");
        }
        else
        {
            SetFinishedLoggingIn();
        }

    }

    private async void SetStartedLoggingIn()
    {
        Login.LoggingIn = true;
        Register.LoggingIn = true;
        await LocalStorageService.SetItemAsync("loggingIn", true);
    }

    private async void SetFinishedLoggingIn()
    {
        Login.LoggingIn = false;
        Register.LoggingIn = false;
        await LocalStorageService.SetItemAsync("loggingIn", false);
    }


    private string message = string.Empty;

    private async void LoginWithFacebook()
    {
        SetStartedLoggingIn();
        NavigationManager.NavigateTo(AuthService.LoginWithFacebookFormRedirection("https://localhost:7070/login"));
    }

}
