@page "/"

@inject ITranslationsManager TranslationsManager

<PageTitle>Index</PageTitle>

<h1 class="page">@TranslationsManager.Get(MainLayout.Language, "WelcomeTitle")</h1>
<div class="page">@TranslationsManager.Get(MainLayout.Language, "WelcomeSubtitle")</div>
